@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background: #000;
    color: white;
}
.banner-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    height: 65vh;
    background: #000;
}
.banner-description{
    color: white;
    padding: 5%;
}
.banner-description h1{
    color: orangered;
    font-size: 45px;
    font-family: cursive;
    
}
.banner-description h5{
    color: white;
    font-size: 20px;
    margin-top: 5%;
}
.header img{
    display: block;
    width: 100%;
    background-color: #000;
    /* margin-top: 5%; */
    height: 65vh;
    object-fit: cover;
    transition: transform;

    /* height: 100%; */
}
.header img:hover{
    filter: brightness(.85);
    transform: scale(.97);
}
.main-container{

    width: 85%;
    display: flex;
    margin: auto;
}
.players-card{
    max-width: 264px;
    max-height: 371px;
    background-color: #0D0D0D;
    color: white;
    text-align: center;
    margin-top: 5%;
    border: .5px solid whitesmoke;
}
.players-card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: transform 1s;
}
.players-card img:hover{
   transform: scale(.93);
}
.card-description{
    padding: 10px;
}
.btn-select{
    background-color: #015196;
    font-size: 20px;
    padding: 8px 25px;
    border-radius: 2px;
    border: none;
    width: 100%;
    /* margin: auto; */
}
.btn-select:hover{
    filter: brightness(1.5);
}
.cards-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 35px;
    padding-left:50px ;
    margin-top: 5.6%;
}
/* side content  */
.selected-section{
    max-width: 264px;
    min-height: 371px;
    border: .5px solid whitesmoke;
    margin-bottom: 45px;
    padding: 12px;
}
.selected-section h3{
    font-size: 30px;
    text-align: center;
    margin:30px 15px;
   
}
.selected-section h5{
    font-size: 20px;
    margin-top: 10px;
}
#player-expanses{
    color: red;
    font-size: 20px;
}
.input-flex{
    display: flex;
    margin: 20px;
    justify-content: space-between;
    align-items: center;
}
.input-box{
    display: flex;
    background-color: black;
    font-size: 18px;
    width: 80px;
    border: .5px solid white;
    color: white;
    padding: 5px;
}
.budget-calculation{
    max-width: 264px;
    min-height: 514px;
    border: .5px solid whitesmoke;
    padding: 12px;
}
.budget-calculation h3{
    font-size: 30px;
    text-align: center;
    margin: 20px;
}
.calculation-container{
    margin-top: 6%;
    margin-left: 35px;
    padding: 10px;
    
}
.hr-line{
    margin-bottom: 20px;
    background-color: orangered;
    color: orangered;
}
#total{
    color: red;
    font-size:20px ;
}
/* footer starts here  */
.footer{
    text-align: center;
}
.footer-hr{
    margin: 60px 0px;
}
.footer h5{
    margin: 50px 0px;
    font-size: 18px;
}

